<% unless current_user?(@user)
	# no follow/unfollow buttons if user's own profile
	 %>
  <div id="follow_form">
  <% if current_user.following?(@user) %>
    <%= render 'unfollow' %>
  <% else %>
    <%= render 'follow' %>
  <% end %>
  </div>
<% end %>